body {
    font-family: "Gothic A1", sans-serif;
    margin: 0;
    background-color: #f3f1e7;
    overflow-x: hidden;

}

/* nav bar start */ 
nav {
    background-color: #f3f1e7;
    position: relative; /* Changed from absolute to relative */
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    flex-wrap: wrap; /* Added flex-wrap to allow wrapping */
}

.logo img {
    height: 75px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; /* Added flex-wrap to allow wrapping */
}

.nav-links li {
    margin: 5px 15px; /* Adjusted margins for better spacing */
}

.nav-links li a {
    display: block;
    text-align: center;
    color: black;
    padding: 10px 5px; /* Adjusted padding for better spacing */
    text-decoration: none;
    white-space: nowrap; /* Prevent text from wrapping */
}

.nav-links li a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.contact-button {
    background-color: #00616f;
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.contact-button:hover {
    background-color: #f3f1e7;
    border: solid 1px #00616f;
    color: #00616f;
}

.menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #00616f;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f3f1e7;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-content li {
    margin: 0;
}

.dropdown-content li a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: #00616f;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Responsive styles */
@media (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-toggle {
        display: block;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        display: none;
        margin-top: 10px;
    }

    .nav-links li {
        text-align: left;
        margin: 0;
        width: 100%;
    }

    .nav-links li a {
        padding: 10px;
        width: 100%;
    }

    .social-media-links {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        margin: 10px 0;
    }

    .contact-button {
        width: 100%;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }
}

@media (min-width: 769px) {
    .social-media-links {
        display: flex;
        justify-content: space-around;
    }

    .social-media-links a {
        margin-left: 15px;
    }

    .nav-links, .social-media-links {
        align-items: center;
    }
}


/* nav bar end */



/* HERO */
.hero {
    background-color: #f3f1e7;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 5%;
    box-sizing: border-box;
}

.hero-content {
    flex: 1 1 600px;
    text-align: center;
    padding: 20px;
}

.hero-content h2 {
    color: #cfa84b;
    font-size: 18px;
    margin: 5%;
}

.hero-content h1 {
    color: #00616f;
    font-family: 'Century Gothic', sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-content p {
    color: black;
    font-size: 16px;
    margin-bottom: 30px;
}

.hero-content button {
    background-color: #045D64;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.hero-content button:hover {
    background-color: #f3f1e7;
    color: #000;
    border: 1px solid #00616f;
}

.hero-image {
    margin-top: 55px;
    flex: 1 1 600px;
    padding: 10px;
    text-align: center;
}

.hero-image img {
    width: 100%;
    max-width: 800px;
    height: auto;
}

/* Responsive styling */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
    }

    .hero-content, .hero-image {
        flex: 1 1 100%;
    }

    .hero-content h1 {
        font-size: 28px;
    }

    .hero-content h2 {
        font-size: 16px;
    }

    .hero-content p {
        font-size: 14px;
    }

    .hero-content button {
        font-size: 14px;
        padding: 10px 20px;
    }
}

/* Smaller screen adjustments */
@media (max-width: 480px) {
    .hero-content h1 {
        font-size: 24px;
    }

    .hero-content h2 {
        font-size: 14px;
    }

    .hero-content p {
        font-size: 12px;
    }

    .hero-content button {
        font-size: 12px;
        padding: 8px 16px;
    }
}

/* END HERO */



