body {
    font-family: "Gothic A1", sans-serif;
    margin: 0;
    background-color: #f3f1e7;
    overflow-x: hidden;

}










/* footer start */

footer {
    background-color: #126796;
    color: #F8BF7D;
    text-align: center;
    padding: 20px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo h1 {
    margin: 0;
    font-size: 26px;
    color: #ffffff;
}

.footer-logo p {
    margin: 15px 0 20px;
    font-size: 18px;
    color: #dab969;
}


.footer-nav {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.footer-nav p{
    margin: 5px;
    text-decoration: none;
    color: #dab969;
}
.footer-nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 5px 2px;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.footer-social {
    margin: 20px 0;
}

.footer-social a {
    margin: 0 10px;
}

.footer-social svg {
    width: 24px;
    height: 24px;
}

.footer-bottom p {
    margin: 10px 0;
}

.footer-bottom a {
    color: #ffffff;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}





/* footer end */


